/****************************************************/
/* VARIABLES ---------------------------------------*/
/****************************************************/

// --
$cWhite: rgba(255,255,255,0.925);

// $primaryAccent: rgba(0,150,185,0.925);
$pascalCyan: rgba(34,163,159,0.925);
$lightPascalCyan: rgba(34,163,159,0.45);

$seaGreen: rgba(69,194,139,0.925);
$lightSeaGreen: rgba(69,194,139,0.45);
$darkSeaGreen: rgba(30,86,61,0.925);

$lightGrey: #dde;

/****************************************************/
/* Base Styles -------------------------------------*/
/****************************************************/
/* NOTE
html is set to 62.5% so that all the REM measurements
are based on 10px sizing. So basically 1.5rem = 15px :) */
html {
  font-size: 62.5%; 
}

body {
  font-size: 1.5em; /* currently ems cause chrome bug misinterpreting rems on body element */
  line-height: 1.5;
  font-weight: 300;
  color: #444; 
  -webkit-font-smoothing: none;
  -moz-osx-font-smoothing: unset;
  font-smoothing: unset;
  cursor: default;
}

::selection {
  background: $seaGreen;
}

/* ––––––––––––––––––––––––––––––––––––––––––––––– */

/****************************************************/
/* MIXINS ------------------------------------------*/
/****************************************************/

@mixin wideListElements($numOfElements) {
  text-align: center;
  display: inline-block;
  width: (100% / $numOfElements);
  box-sizing: border-box;
  padding: 0 0;
  margin: 0 0;
  // background-color: yellow;
}


@mixin backgroundImage($imageUrl) {
  background-image: url($imageUrl);
  background-size: cover;
  background-position: center center;
}


// CB stands for Cross Browser

@mixin CBTransition($input) {
  transition: unquote($input);
  -webkit-transition: unquote($input);
  -moz-transition: unquote($input);
  -o-transition: unquote($input);
}

@mixin noSelect() {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */ 
}


/****************************************************/
/* GLOBAL STYLING ----------------------------------*/
/****************************************************/

hr {
  opacity: 0.2;
  margin: 4.0rem 0;
  color: white;
  border-bottom: 0.5px solid $lightSeaGreen; 
  // border-top: 0.5px solid $lightGrey;
}

.noselect {
  @include noSelect();
}

.container {
  // max-width: 92.0rem;
  max-width: 90.0rem;
}


.content-slide {
  padding: 4.0rem 0;
  font-weight: 300;

  h1, h2, h3 {
    @include noSelect;
    color: $seaGreen;
    font-weight: 300;
  }

  h1 {
    font-size: 4.8rem;
    text-align: center;
  }

  h3 {
    font-size: 2.85rem;
    line-height: 1;
    margin: 2.0rem 0;
  }

  p {
    font-size: 1.65rem;
    line-height: 1.55;
  }
}

.row {
  font-size: 2.1rem;
}

.bold {
  font-weight: 600;
  color: $darkSeaGreen;
}

br {
  display: block;
  margin: 10px 0;
}

.hover-color {
  @include CBTransition('color 0.5s');
}

.hover-color:hover {
  color: $seaGreen;
}

/****************************************************/
/* NESTED SASS -------------------------------------*/
/****************************************************/

#profile-image {
  text-align: center;
  border-radius: 9999px;
  width: 100%;
  border: 0.7rem solid $lightSeaGreen;
}

header {
  color: white;
  height: 17.5rem;
  background-color: #456;
  @include backgroundImage("./../img/star-banner.jpg");
  // @include backgroundImage("../img/beautiful-comet.gif");
  display: block;
  box-sizing: border-box;
  border-bottom: 0.7rem solid $darkSeaGreen;

  #header-overlay {
    z-index: 1;
    height: 16.8rem;
    position: relative;
    // background-color: rgba(0,200,255,0.45);
    background-color: $lightSeaGreen;
  }

  .container {

    

    #name-and-desc {
      font-family: 'Nunito', 'Raleway', 'Roboto', sans-serif;
      margin: 3.0rem 0 0 0;
      width: 44.5%;
      float: left;

      h1 {
        
        color: $cWhite;
        line-height: 0.9;
        font-size: 6.3rem;
        font-weight: 200;
        letter-spacing: -0.15rem;
        display: block;
        padding: 0 0 1rem 0;
        margin: 0.5rem 0 0.3rem 0;
      }

      h2 {
        line-height: 0.9;
        color: $cWhite;
        font-weight: 300;
        font-size: 2.10rem;
        margin: 0 0;
      }

    }

    #nav {
      margin-top: 3.75rem;
      width: 55.5%;
      float: right;

      ul {
        margin: 0 0;
        float: right;
      }

      ul li {
        font-size: 1.85rem;
        display: inline-block;
        box-sizing: border-box;

        a {
          line-height: 2.0;
          padding: 1.0rem 1.65rem;
          color: $cWhite;
          @include CBTransition('background-color 0.225s, color 0.225s');
        }

        a:hover {
          color: black;
          background-color: $cWhite;
          cursor: pointer;
        }

        a:active {
          color: white;
          background-color: rgb(0,70,105);
          cursor: pointer;
        }
      }
    }
  }
}

.row-date {
  font-weight: 600;
  color: #ccc;
  text-align: right;
}

.small-link {
  text-transform: uppercase;
  font-weight: 400;
  font-size: 1.4rem;
  color: #aaa;
}

.social-media-row {
  display: block;
  width: 900px;
  margin: 0 auto;

  ul li {
    background-color: #eee;
    @include wideListElements(6);
  }
}