
  /* Base Styles
  –––––––––––––––––––––––––––––––––––––––––––––––––– */
  /* NOTE
  html is set to 62.5% so that all the REM measurements
  are based on 10px sizing. So basically 1.5rem = 15px :) */
  html {
    font-size: 62.5%; 
  }

  body {
    font-size: 1.5em; /* currently ems cause chrome bug misinterpreting rems on body element */
    line-height: 1.5;
    font-weight: 300;
    color: #222; 
    -webkit-font-smoothing: none;
    -moz-osx-font-smoothing: unset;
    font-smoothing: unset;
  }

  /* ––––––––––––––––––––––––––––––––––––––––––––––– */

/****************************************************/
/* MIXINS ------------------------------------------*/
/****************************************************/

@mixin wideListElements($numOfElements) {
  text-align: center;
  display: inline-block;
  width: (100% / $numOfElements);
  box-sizing: border-box;
  padding: 0 0;
  margin: 0 0;
  // background-color: yellow;
}


@mixin backgroundImage($imageUrl) {
  background-image: url($imageUrl);
  background-size: cover;
  background-position: center top;
}

/****************************************************/
/* VARIABLES ---------------------------------------*/
/****************************************************/

// --


/****************************************************/
/* GLOBAL STYLING ----------------------------------*/
/****************************************************/

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}


/****************************************************/
/* NESTED SASS -------------------------------------*/
/****************************************************/

header {
  color: white;
  height: 30rem;
  background-color: #456;
  @include backgroundImage("./../img/bg-rocky-grey1.jpg");
  display: block;

  .container {
    max-width: 95.0rem;
    height: 100%;

    #name-and-desc {
      margin-top: 2.5rem;
      margin-left: 5%;
      width: 40%;
      float: left;

      h1 {
        font-size: 6.5rem;
        font-weight: 200;
        display: block;
        padding: 0 0 1rem 0;
        margin: 0 0;
      }
      h2 {
        font-size: 1.5rem;
        margin: 0 0;
      }
    }

    #nav {
      margin-top: 3.75rem;
      margin-right: 5%;
      width: 50%;
      float: right;

      ul {
        margin: 0 0;
        float: right;
      }

      ul li {
        font-size: 1.90rem;
        display: inline-block;
        box-sizing: border-box;

        a {
          line-height: 2.0;
          padding: 1.0rem 2.25rem;
          color: white;
        }

        a:hover {
          color: black;
          background-color: white;
          cursor: pointer;
        }

        a:active {
          color: white;
          background-color: #555;
          cursor: pointer;
        }
      }
    }
  }

  
}

.social-media-row {
  display: block;
  width: 900px;
  margin: 0 auto;

  ul li {
    background-color: #eee;
    @include wideListElements(6);
  }
}