$text-color: #184E3E;

// $mint-lightest: #DFFFF5;
$mint-lightest: #DEFCEE;
$mint-lightestest: #EBFFF6;

$seagreen-bright: #71FFD4;



// $bkgd-1-color: $mint-lightest;
$bkgd-1-color: #fff;
// $bkgd-2-color: $mint-lightestest;
$bkgd-2-color: #eef;

// Colors: Tags
$developer-color: rgb(153, 103, 10);
$musician-color: rgb(66, 8, 203);
$artist-color: rgb(24, 184, 176);
$wynd-color: #4BC7C9;

// Selection/text highlight
// $selection-color: $seagreen-bright;
$mild-selection-color: $seagreen-bright; 
$selection-color: #4DD1A9;

$resume-link-color: #32876D;

$text-pop-color: $seagreen-bright;

// Colors: color palette
$circ-1-color: #DFD885;
$circ-2-color: #DCB93B;
$circ-3-color: #4DD1A9;
$circ-4-color: #184E3E;
$circ-5-color: #1E150C;
