// —————————————————————————————————————
// Dependencies
// —————————————————————————————————————

@import 'colors';
@import 'vars';
@import 'mixins';

// Fonts
$font-stack: Nunito, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";


// —————————————————————————————————————
// Default Styling: REM's
// —————————————————————————————————————

/* NOTE
html is set to 62.5% so that all the REM measurements throughout Skeleton
are based on 10px sizing. So basically 1.5rem = 15px :) */
// html {
//   font-size: 62.5%; 
// }

body {
  font-size: 20px; /* currently ems cause chrome bug misinterpreting rems on body element */
  line-height: 1.375;
  font-weight: 400;
  font-family: $font-stack;
  color: $text-color;
  background: $mint-lightestest;

  min-height: 80vh;

  text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
}

// —————————————————————————————————————
// Other setup styling
// —————————————————————————————————————

// Minimum width. Document window/object will not drop below this width.
body {
  min-width: 400px;
}

// Improve link styling.
a {
  color: inherit;
  text-decoration: none;
}

a:visited {
  color: inherit;  
}

a:hover {
  text-decoration: underline;
  cursor: pointer;
  // color: $mint-lightest;
  // background-color: $text-color;
}

// Selection/text highlight

::selection {
  background: $mild-selection-color; /* WebKit/Blink Browsers */
}


// —————————————————————————————————————
// Bootstrap overrides
// —————————————————————————————————————

@media (min-width: 1000px) {
  .container {
    max-width: 960px;
  }
}

// .col:not(:first-child),.col:not(:last-child) {
.col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-auto, .col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-auto, .col-md, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-auto, .col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-auto {
  padding-right: 5px;
  padding-left: 5px;
}

// —————————————————————————————————————
// Modules
// —————————————————————————————————————

.text-pop {
  color: $text-pop-color;
}

.unselectable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.pg-space {
  width: 100%;
  height: 7px;
}

// —————————————————————————————————————
// Color palette styling
// —————————————————————————————————————

.color-palette {
  width: 100%;
  display: flex;
  justify-content: center;

  margin-bottom: 12.5px;
}

.circ-1, .circ-2, .circ-3, .circ-4, .circ-5 {
  display: inline-block;
  margin: 0;
  height: calc(30px * (19 / 30));
  width:  calc(30px * (19 / 30));
  margin-left:  calc(5px * (19 / 30));
  margin-right: calc(5px * (19 / 30));

  border-radius: 50%;
}

.circ-1 {
  background: $circ-1-color;
}

.circ-2 {
  background: $circ-2-color;
}

.circ-3 {
  background: $circ-3-color;
}

.circ-4 {
  background: $circ-4-color;
}

.circ-5 {
  background: $circ-5-color;
}

// —————————————————————————————————————
// Header styling
// —————————————————————————————————————

header {
  min-height: 80vh;

  display: flex;
  align-items: center;
}

header {
  padding-top: 2.0rem;
  padding-bottom: 2.0rem;
  background: $mint-lightest;
  cursor: crosshair;
}

div.info {
  font-weight: 400;
  padding-right: 5px;
}

h1#name {
  font-size: 52px;
  font-weight: 700;
  letter-spacing: -0.020em;
  text-align: center;
  margin-bottom: 2.5px;
}

.intro-line {
  font-weight: 800;
  font-size: 22px;
}


#profile-pic {
  margin: 0 auto;
  margin-top: 15px;

  img {
    border-radius: 50%;
    
    // height: 100%;
    width: 100%;    
    max-height: $max-img-size;
    max-width: $max-img-size;
  }
  // height: 100%;
  width: 100%;    
  max-height: $max-img-size;
  max-width: $max-img-size;

  border-radius: 50%;
  border: 6px solid $seagreen-bright;
  box-sizing: content-box;
}

.stats {
  padding-top: 12.5px;
  padding-bottom: 7.5px;
  font-size: 17px;
  font-style: italic;
  font-weight: 400;
  text-align: center;
  @include lo-stretch();
}

#github-follow-btn {
  display: flex;
  justify-content: center;
}

// —————————————————————————————————————
// Contact Bar
// —————————————————————————————————————

#contact-bar {
  display: flex;
  justify-content: center;

  div {
    font-size: 26px;
    font-weight: 300;
    display: inline-block;
    position: relative;

    a {
      font-size: 10px;
      display: block;
      height: 20px;
      padding: 2px 22.5px;
      position: relative;    
      z-index: 10;   
      // @include div-link();
    }
  }

  div:hover a {
    text-decoration: underline;
  }

  div.resume-btn {
    font-style: italic;
    // text-decoration: underline;
    color: $resume-link-color;
  }

  div.diamond {
    img {
      width: 6px;
      height: 6px;
    }
  }
}

// —————————————————————————————————————
// Color Tags
// —————————————————————————————————————

.developer-color, .wynd-color, .musician-color, .artist-color {
  font-weight: 800;
}

.developer-color {
  color: $developer-color;
}

.wynd-color {
  color: $wynd-color;
}

.musician-color {
  color: $musician-color;
}

.artist-color {
  color: $artist-color;
}