@mixin lo-stretch() {
  $scale-x: 1.000;
  $scale-y: 0.9875;

  // display: inline-block;
  -webkit-transform: scale($scale-x, $scale-y); /* Safari and Chrome */
  -moz-transform:    scale($scale-x, $scale-y); /* Firefox */
  -ms-transform:     scale($scale-x, $scale-y); /* IE 9 */
  -o-transform:      scale($scale-x, $scale-y); /* Opera */
  transform:         scale($scale-x, $scale-y); /* W3C */
}

@mixin div-link() {
  position: absolute;
  // width: 100%;
  // height: 100%;
  // top: 0;
  // left: 0;
  text-decoration: none; /* No underlines on the link */
  z-index: 10; /* Places the link above everything else in the div */
  // background-color: $text-color; /* Fix to make div clickable in IE */
  opacity: 1; /* Fix to make div clickable in IE */
  filter: alpha(opacity=1); /* Fix to make div clickable in IE */
}