

$mint-light: rgb(214, 255, 198);
$mint-lighter: lighten($mint-light, 4%);
$mint-lightest: lighten($mint-light, 8%);
$mint-handsome: rgb(63, 90, 63);
$mint-standard: rgb(71, 114, 84);
$mint: rgb(54, 114, 84);




$seafoam: rgb(40, 148, 97);
$bright-seafoam: lighten($seafoam, 15%);
$handsome-seafoam: rgb(33, 134, 92);

$background-color: rgb(254, 255, 254);
$text-color: rgb(17, 21, 17);
$subtext-color: rgba($text-color, 0.55);
$theme-color: $seafoam;
$hr-color: #dde6dd;
$wip-color: lighten($text-color, 20%);
$tooltip-color: rgba($text-color, 0.65);