// $black-text: rgb(30, 42, 46);
// $black-text: rgb(33, 47, 52);
$black-text: rgb(35, 49, 50);
$white: rgb(250, 252, 253);
$white: rgb(251, 254, 253);

$hier-seafoam: #3ffbaa;

$hi-seafoam: #33f1a0;
$seafoam: #1cd2a5;
$seafoam1-5: #0ec89a;
$seafoam2: #0ea781;

$bkgd-color: $white;

$link-color: $seafoam1-5;



// ——————————————————————————
// Other settings

// $axiom-opacity: 0.333;
$axiom-opacity: 0.36666;
