/**
 * Includes any important project-wide values. 
 * Consider this as a global variable page.
 */

// ——————————————————————————
// Responsive breakpoints – General

$breakpoint-mobile: 549px;
$breakpoint-1: 549px;

$breakpoint-2: 700px;

$breakpoint-4k: 2000px;

// ——————————————————————————
// Responsive breakpoints – Grid

$breakpoint-grid-1: 680px;
$breakpoint-grid-2: 1024px;