@import 'colors';

// === Modular Styles ===

a.styleless {
  color: inherit;
  text-decoration: none;
}

a.standard {
  @extend a.styleless;
  &:hover:not(:active) {
    color: black;
  }
}

.grow { transition: all .04s ease-in-out; }
.grow:hover { transform: scale(1.05); }
.grow:active { &:hover { transform: scale(1.0); transition: all 0s linear; }}

.grow-slight { transition: all .026666s ease-in-out; }
.grow-slight:hover { transform: scale(1.025); }
.grow-slight:active { &:hover { transform: scale(1.0); transition: all 0s linear; }}

.grow-slightest { transition: all .01888s ease-in-out; }
.grow-slightest:hover { transform: scale(1.00888); }
.grow-slightest:active { &:hover { transform: scale(1.0); transition: all 0s linear; }}

.unfocusable:focus {
  outline: none;
}

.theme-color {
  color: $theme-color;
}

hr.page-break {
  margin: 65px 0;
}

// More general 

.centered-children {
  display: flex;
  align-items: center;
  justify-content: center;
}

.link-space-fix {
  margin-left: 4px;
}