@import 'fonts';
@import 'colors';
@import 'values';

// ————————————————————
// Minimum Width

body {
  min-width: 320px;
}

// ————————————————————
// General + Fonts

body {
  margin: 0;
  padding: 0;
  font-size: 1.62rem;
  font-family: $font-stack;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: $bkgd-color;
  color: $black-text;
}

h1, h2, h3, h4, h5 { font-family: $rubik-font-stack; }

// ————————————————————
// Root

#root {
  display: block;
  position: relative;
}

#root::after {
  content: "";
  background: url("../components/img/axiom-pattern.png");
  opacity: $axiom-opacity;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: fixed;
  z-index: -50;
}

// ————————————————————
// Container

.container {
  max-width: 1060px;
}

@media screen and (min-width: $breakpoint-4k) {
  .container { max-width: 1260px; }
}

// ————————————————————
// Links

a {
  text-decoration: none;
  color: $link-color;
  cursor: pointer;

  // &:visited {
  // }
}

// ————————————————————
// Header details

h1, h2, h3 {
  font-weight: 600;
  letter-spacing: -.04rem;
}

h4, h5, h6 {
  font-weight: 400;
}

h6 {
  font-size: 1.7rem;
}

// ————————————————————
// New Tags

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

// <br> is line break -- pbr is "padded line break"
pbr {
  display: block;
  margin-bottom: 1.8rem;
}

// // <b> is bold -- <sb> is "soft bold"
// sb {
//   font-weight: 500;
// }