@import '../../styles/fonts';
@import '../../styles/colors';
@import '../../styles/values';

// ————————————————————————–

h3.hasHeaderLink {
  margin: 2.8rem 0 1.2rem;
  font-size: 2.7rem;
  color: lighten($black-text, 5%);
}

.jumpLink {
  // color: none;
  font-family: $pound-font-stack;
  background: linear-gradient(to right, $seafoam, $seafoam2);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-right: $pound-margin-right;
}

.hiddenLink {
  position: relative;
  // Accounts for sticky top nav bar
  top: -5.0rem;
}

@media screen and (max-width: $breakpoint-mobile) {
  .hiddenLink {
    top: 0rem;
    // top: -19.0rem;
    // MOBILE HEADER NO LONGER STICKY
  }
}