@import '../../styles/fonts';
@import '../../styles/colors';

// .jumpLink {
//   text-decoration: none;
// }

.jumpLink {
  // color: none;
  font-family: $ui-font-stack;
  background: linear-gradient(to right, $seafoam, $seafoam2);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-right: 0.2rem;
}

.hiddenLink {
  position: relative;
  // Accounts for sticky top nav bar
  top: -5.0rem;
}

@media screen and (max-width: 550px) {
  .hiddenLink {
    top: -19.0rem;
  }
}

h3.hasHeaderLink {
  font-size: 2.9rem;
}