@import '../../styles/fonts';
@import '../../styles/colors';
@import '../../styles/values';

// —————————————————————
// MinHeightZone
// Used to make sure the page is at least a certain height at all times.

.minHeightZone {
  min-height: calc(100vh - 12.3rem);
}

// —————————————————————
// Header

section.header { cursor: default; }

.title { margin-top: 1.5rem; margin-bottom: 0; }

.subtitle {
  margin-bottom: 0.8rem;
}

// —————————————————————
// Navbar - Main

nav.navbar {
  border-bottom: 1px solid rgba(black, 0.12);
  border-top: 1px solid rgba(black, 0.12);

  margin-bottom: 2.0rem;

  position: sticky;
  top: 0;
  background: $bkgd-color;

  z-index: 1000;

  // width: 100vw;
  // left: 0;
}

ul.nav {
  list-style-type: none;
  margin: 0;


  li { 
    display: inline-block; 
    cursor: pointer;
    padding: 0;
    margin: 0;
    
    a {
      color: $black-text;
      display: block;
      padding: 1.2rem 6.3rem;
      padding-left: 0.9rem;
      text-align: center;

      font-family: $rubik-font-stack;
      font-size: 1.6rem;
    }
  }
}

// —————————————————————
// Navbar – Anim

ul.nav li a {
  transition: 
    scale 0.05s ease-in-out,
    color .01s linear, 
    background .03s linear;
  border-radius: 1px;

  &:hover {
    color: #000;
  }

  &:focus {
    outline: none;
    // color: $white;
    // background: $black-text;
    background: $nav-bkgd;
  }
}

// —————————————————————
// Hover Note in Navbar

.resumeHoverNote {
  display: none;

  color: lighten($black-text, 5%);
  background: $bkgd-color;
  line-height: 1;
  font-size: 1.3rem;
  min-width: 14.0rem;
  border-radius: 2px;
  padding: 0.4rem 0.5rem;
  border: 0.075rem solid rgba(black, 0.13);
}


ul.nav li a {
  position: relative;

  &#resumeNavBtn {
    &:hover {
      & > div.resumeHoverNote {
        display: block;
        position: absolute;
        bottom: -1.5rem;
      }
    }
  }
}

// —————————————————————
// Footer

section#footer {
  margin: 3.0rem 0;
  hr {
    margin: 2.5rem 0;
  }
  h5 {
    text-align: right;
    font-size: 1.45rem;
    color: rgba($black-text, 0.5);
    letter-spacing: -.024em;
  }
}

// —————————————————————
// Responsive: Smaller

@media screen and (max-width: $breakpoint-2) {
  ul.nav li a {
    padding: 1.2rem 4.4rem;
    padding-left: 0.9rem;
  }
}
@media screen and (max-width: $breakpoint-mobile) {
  nav.navbar {
    position: inherit;
  }

  ul.nav {
    li {
      display: block;
      a { 
        padding: 1.0rem 0; 
        font-size: 1.75rem;
      }
    }
  }
}

// —————————————————————
// Responsive: Bigger

@media screen and (min-width: $breakpoint-4k) {
  body {
    font-size: 1.72rem !important;
  }

  section#footer h5 {
    font-size: 1.625rem !important;
  }
}

// —————————————————————
// Misc.

.other {
  transition: all .0875s ease-in-out;
}

.other:hover {
  color: red;
}