@import '../../styles/fonts';
@import '../../styles/colors';


.title { margin-top: 1.5rem; margin-bottom: 0; }

.subtitle {
  margin-bottom: 0.8rem;
}

// —————————————————————
// Navbar - Main

nav.navbar {
  border-bottom: 1px solid #ddd;
  border-top: 1px solid #ddd;

  margin-bottom: 2.0rem;

  position: sticky;
  top: 0;
  background: white;
}

ul.nav {
  list-style-type: none;
  margin: 0;


  li { 
    display: inline-block; 
    cursor: pointer;
    padding: 0;
    margin: 0;
    
    a {
      color: $black-text;
      display: block;
      padding: 1.2rem 6.3rem;
      padding-left: 0.9rem;
      text-align: center;

      font-family: $rubik-font-stack;
      font-size: 1.6rem;
    }
  }
}

// —————————————————————
// Navbar – Anim

ul.nav li a {
  transition: color .03s linear, background .03s linear;
  border-radius: 2px;

  &:hover {
    color: #000;
  }

  &:focus {
    outline: none;
    color: white;
    // background: $black-text;
    background: 
      linear-gradient(135deg, rgba($seafoam, 0.9), rgba($seafoam, 0.9) 70%),
      linear-gradient(336deg, rgba($hier-seafoam, 0.9), rgba($hier-seafoam, 0.9) 70%);
  }
}

// —————————————————————
// Footer

section#footer {
  margin: 3.0rem 0;
  hr {
    margin: 2.5rem 0;
  }
  h5 {
    text-align: right;
    font-size: 1.45rem;
    color: rgba($black-text, 0.5);
    letter-spacing: -.0275em;
  }
}

// —————————————————————
// Responsive

.other {
  transition: all .0875s ease-in-out;
}

.other:hover {
  color: red;
}

@media screen and (max-width: 650px) {
  ul.nav li a {
    padding: 1.2rem 4.4rem;
    padding-left: 0.9rem;
  }
}
@media screen and (max-width: 550px) {
  nav.navbar {
    position: inherit;
  }

  ul.nav {
    li {
      display: block;
      a { padding: 1.0rem 0; }
    }
  }
}