@import '../../styles/fonts';
@import '../../styles/colors';
@import '../../styles/values';

// ————————————————–
// Test

.gridWrapper {
  // padding: 3.0rem;
  // background: yellow;
}

.grid {
  // padding: 2.0rem;
  // background: aqua;
}

// —————————————————————————————————————————————————————————————————
// Responsive-agnostic: CSS Grid
// —————————————————————————————————————————————————————————————————

.gridWrapper {
  .grid {
    display: grid;
    grid-column-gap: 1.5rem;
    grid-row-gap: 2.25rem;
  }
}

.itemWrapper {
  position: relative;
  width: 100%;
  max-width: 425px;
  
  background: $grid-item-bkgd;
  border-radius: 2px;

  // Cuts out the bottom left corner, for style
  clip-path: polygon(0 0, 100% 0, 100% 100%, 15% 100%, 0 77.5%);

  // —————
  // Aspect ratio
  &:before {
    content: "";
    display: block;
    padding-top: 66%;  // Ratio of height to width: 100:75
  }

  .item {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }

  // box-shadow: 0 0 20px black;
}

div.gridItem {
  &:focus {
    background: $grid-item-focus-color;
    outline: none !important;
  }
}


// —————————————————————————————————————————————————————————————————
// Individual Item Styling
// —————————————————————————————————————————————————————————————————
// Tools icon, for contentless grid items

// Reference: https://css-tricks.com/scale-svg/
.toolsIcon {

  width: 45%;
  // display: flex;
  margin: auto;
  margin-top: 10%;

  & > div {
    background-image: url('../img/tools.svg');
    background-size: cover;
    height: 0;
    padding: 0;
    margin: 0;
    // padding-bottom: calc(68%);
    padding-bottom: 100%;
    // padding-right: 20%;
  }
}

// —————


.item { position: relative; }

// —————

// Display title
.displayTitle {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

%itemNameDefault { 
  margin: 0; padding: 0;
  font-size: 1.73rem;
  font-family: $monty-font-stack; 
  font-weight: 800;
  color: $white;
  letter-spacing: -0.020em;
  text-align: right;
  line-height: 1.1;

  width: 100%;
  box-sizing: border-box;
  padding-right: 3.0rem;
  padding-bottom: 0.5rem;
  padding-left: 12%;
}

%itemNameHover {
  font-size: 2.0rem;
}

%itemSubtitleDefault {
  @extend %itemNameDefault;
  font-weight: 700;
  font-size: 1.60rem;
  padding-bottom: 0.1rem;
}

// —————

.gridItem .itemWrapper .itemOverlay {
  position: absolute;
  left: 0;
  right: 0;
}

%itemOverlayNoHover { 
  bottom: 0;
  height: 8.5rem;
  width: 105%;  // Just to make sure it doesn't fall short -- doesn't overflow.......
  background: linear-gradient(to top, $black-seafoam, rgba(white, 0));
}

%itemOverlayHover {
  bottom: 0;
  height: 100%;
  background: linear-gradient(to bottom, 
    $black-seafoam-str, 
    rgba($black-seafoam, 0.4));
}

// ————————————————–
// Icon

.displayIcon {
  position: absolute;
  right: 0.5rem;
  bottom: 1.5rem;
  width: 2.0rem;
  height: 2.0rem;
}

// ————————————————–
// Hover/focus only

.itemOnHover {
  height: 100%;
  position: absolute;

  & * {
    z-index: 25;
    position: relative;

    margin: 0;
    font-family: $monty-font-stack;
    text-align: center;
    color: $white;
    line-height: 1.0;
  }
  
  .clickToSeeMore, .focusCategory {
    font-family: $monty-alt-font-stack;
    margin-top: 0.3rem;
  }

  .clickToSeeMore {
    font-size: 1.5rem;
    height: 15%;
  }

  .focusYear {
    font-size: 1.5rem;
    line-height: 1.0;
    letter-spacing: .150em;
    // margin-top: 1.25rem;
  }

  .focusTitle {
    text-align: center;
    font-size: 3.6rem;
    font-weight: 700;
    line-height: 0.85;
    min-height: 32.5%;
  }

  .focusCategory {
    font-size: 1.9rem;
    position: relative;
    letter-spacing: .025em;
    padding: 0.15rem 0;
    background: $white;
    color: $black-seafoam;
  }
}

// ————————————————————————————————

// Focused or hovered
.gridItem:focus .itemWrapper, .gridItem .itemWrapper:hover {
  cursor: pointer; 
  // cursor: crosshair;

  .itemNoHover { display: none; }

  .itemOverlay { @extend %itemOverlayHover; }
  .displayTitle h4 { @extend %itemNameHover; }

  .item {
    z-index: 25;
    position: absolute;
    background: url('../img/bump-dot-pattern.png');
  }
}


// Neither focused nor hovered
.gridItem:not(:focus) .itemWrapper:not(:hover) {
  .itemOverlay {
    @extend %itemOverlayNoHover;
  }

  .displayTitle h4 {
    @extend %itemNameDefault;
  }

  .displayTitle h5 {
    @extend %itemSubtitleDefault;
  }

  .itemOnHover { display: none; }
}

// —————————————————————————————————————————————————————————————————
// Responsive: Desktop
// —————————————————————————————————————————————————————————————————

.flourish {
  padding-top: 0.4rem;

  svg {
    float: right;
    fill: $grid-item-bkgd-col1;
  }
}

.gridWrapper {
  .grid {
    grid-template-columns: auto auto auto;
    grid-column-gap: 1.12rem;
  }
}

// @media screen and (min-width: $breakpoint-grid-4k) {
//   .gridWrapper .grid {
//     grid-template-columns: auto auto auto auto;
//   }
// }

// —————————————————————————————————————————————————————————————————
// Responsive: Mobile
// —————————————————————————————————————————————————————————————————


@media screen and (max-width: $breakpoint-grid-2) {
  .gridWrapper {
    .grid {
      grid-template-columns: auto auto;
      grid-column-gap: 1.75rem;
    }
  }
}

@media screen and (max-width: $breakpoint-grid-1) {
  .gridWrapper {
    .grid {
      grid-template-columns: auto;
    }
  }

  div.itemWrapper {
    // margin: 1.0rem 0;
  }

  // Don't show flourish on mobile layout
  .flourish {
    display: none;
  }
}
