#header {
  background: #005d56;
  height: calc(190px - 27px);
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 35px; }
  #header h1#main-title {
    color: white;
    font-size: 98px;
    font-family: 'Montserrat';
    letter-spacing: -0.110em;
    margin: 0;
    line-height: 1;
    margin-bottom: -12px; }
  #header div#header-desc {
    font-size: 32px;
    font-family: 'Montserrat Alternates';
    font-weight: 600;
    letter-spacing: -0.080em; }
  #header #developer-desc {
    color: #51c9fe; }
  #header #designer-desc {
    color: #40ff66; }
