#header {
  background: #005d56;
  height: calc(190px - 37px);
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 35px; }
  #header h1#main-title {
    color: white;
    font-size: 93px;
    font-family: 'Montserrat';
    letter-spacing: -0.110em;
    margin: 0;
    line-height: 1;
    margin-bottom: -15px; }
  #header div#header-desc {
    font-size: 30px;
    font-family: 'Montserrat Alternates';
    font-weight: 600;
    letter-spacing: -0.080em;
    flex-direction: row; }
    #header div#header-desc #header-diamond {
      width: 17px;
      height: 17px;
      margin: 0 19px; }
    #header div#header-desc #developer-desc {
      color: #51c9fe; }
    #header div#header-desc #designer-desc {
      color: #40ff66; }
