@import url("https://fonts.googleapis.com/css?family=Montserrat+Alternates:300i,400i,500,600,800|Montserrat:400,600,700,800|Titillium+Web:400,700");
html, body {
  margin: 0;
  padding: 0; }

html {
  font-family: "Titillium Web", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol"; }
