// —————————————————————————————————————

$quite-dark-blugre: rgb(0, 93, 86);



$c-header-bar: $quite-dark-blugre;
$c-developer-desc: rgb(81, 201, 254);
$c-designer-desc: rgb(64, 255, 102);

$c-footer-bar: rgb(68, 66, 61);
$c-footer-text: rgb(236, 229, 223);